@import './colors.scss';

.animated-transform-container {
    width: 400px;
    min-height: 400px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    perspective: 60px;
    user-select: none;
    clip-path: circle(50% at 50% 50%);
    opacity: 0;
}

.animated-transform {
    position: relative;
    width: 100%;
    font-size: 4rem;
    font-weight: bold;
    color: white;
    text-align: center;
    transition-duration: .1s;
    user-select: none;
}

.animated-transform-in-0 {
    animation-name: animated-transform-in;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@keyframes animated-transform-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.animated-transform-out-0 {
    animation-name: animated-transform-out;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-fill-mode: backwards;
}

@keyframes animated-transform-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}