$primary: #00d9ff;
$primary-dark: darken($primary, 15%);

$secondary: #00ffea;
$secondary-dark: darken($secondary, 15%);

// $dark: rgb(30,30,30);
$dark: darken($primary,47%);

  
$background: rgb(0,205,255);
$text-light: rgb(150, 150, 150);