.header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  padding: 0;
  overflow-wrap: unset;
  text-transform: initial;
}

.h1 {
  position: relative;
  font-size: 4rem;
  color: white;
  -webkit-transform: translateY(7rem);
          transform: translateY(7rem);
  margin-bottom: 2rem;
}

@media only screen and (max-width: 1200px) {
  .h1 {
    text-align: center;
  }
}

@media only screen and (min-width: 1201px) {
  .h1 {
    text-align: left;
  }
}

.h1-in-0 {
  -webkit-animation-name: h1-in;
          animation-name: h1-in;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.h1-in-1 {
  -webkit-animation-name: h1-in;
          animation-name: h1-in;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.h1-in-2 {
  -webkit-animation-name: h1-in;
          animation-name: h1-in;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes h1-in {
  from {
    -webkit-transform: translateY(14rem);
            transform: translateY(14rem);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
    opacity: 1;
  }
}

@keyframes h1-in {
  from {
    -webkit-transform: translateY(14rem);
            transform: translateY(14rem);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
    opacity: 1;
  }
}

.h1-out-0 {
  -webkit-animation-name: h1-out;
          animation-name: h1-out;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.h1-out-1 {
  -webkit-animation-name: h1-out;
          animation-name: h1-out;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.h1-out-2 {
  -webkit-animation-name: h1-out;
          animation-name: h1-out;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

@-webkit-keyframes h1-out {
  from {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
    opacity: 1;
  }
  to {
    -webkit-transform: translateY(14rem);
            transform: translateY(14rem);
    opacity: 0;
  }
}

@keyframes h1-out {
  from {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
    opacity: 1;
  }
  to {
    -webkit-transform: translateY(14rem);
            transform: translateY(14rem);
    opacity: 0;
  }
}
/*# sourceMappingURL=Header.css.map */