* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f0f0f0;
  color: #282828;
  overflow: hidden;
  overflow-y: none;
}

/* COLORS */
.light {
  color: #8c8c8c;
}

/* TYPOGRAPHY */
body {
  font-size: 1.2rem;
  line-height: 1.7rem;
  font-family: 'IBM Plex Sans', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'IBM Plex Sans', sans-serif;
}

h1 {
  margin-bottom: 2rem;
}

.text-center {
  text-align: center;
}

/* MARGINS AND PADDINGS */
.mb-05 {
  margin-bottom: .5rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.px-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* NAVIGATION */
.navigation,
.navigation-mobile {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  min-height: 4rem;
  background-color: transparent;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 4rem;
}

.navigation-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  z-index: 99;
}

.navigation a,
.navigation-mobile a {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  color: #505050;
  min-width: 8rem;
  border: 1px solid transparent;
  line-height: 1.7rem;
  text-align: center;
  text-decoration: none;
}

.navigation-mobile a {
  font-size: 1.5rem;
  line-height: 4rem;
}

.navigation a:hover,
.navigation-mobile a:hover {
  color: black;
  text-decoration: underline;
}

.menu-button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: fixed;
  top: 0rem;
  left: 0rem;
  width: 4rem;
  height: 4rem;
  z-index: 100;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-button .burger,
.menu-button .burger::before,
.menu-button .burger::after {
  width: 2.5rem;
  height: .275rem;
  background: #333;
  border-radius: .1rem;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.menu-button .burger::before,
.menu-button .burger::after {
  content: '';
  position: absolute;
}

.menu-button .burger::before {
  -webkit-transform: translateY(-0.8rem);
          transform: translateY(-0.8rem);
}

.menu-button .burger::after {
  -webkit-transform: translateY(0.8rem);
          transform: translateY(0.8rem);
}

.menu-button.active .burger {
  -webkit-transform: translateX(-3rem);
          transform: translateX(-3rem);
  background: transparent;
}

.menu-button.active .burger::before {
  -webkit-transform: rotate(45deg) translate(2.1rem, -2.1rem);
          transform: rotate(45deg) translate(2.1rem, -2.1rem);
  background: #333;
}

.menu-button.active .burger::after {
  -webkit-transform: rotate(-45deg) translate(2.1rem, 2.1rem);
          transform: rotate(-45deg) translate(2.1rem, 2.1rem);
}

.navbar {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 4rem;
  background-color: #f0f0f0;
  -webkit-transition: height .3s;
  transition: height .3s;
  z-index: 98;
  border-bottom: 2px solid #dfdfdf;
  -webkit-filter: drop-shadow(0px 0px 1rem rgba(0, 0, 0, 0.125));
          filter: drop-shadow(0px 0px 1rem rgba(0, 0, 0, 0.125));
}

.navbar.active {
  height: 100vh;
  -webkit-filter: drop-shadow(0px 0px 1rem rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0px 0px 1rem rgba(0, 0, 0, 0.1));
  border-bottom: 1px solid transparent;
}

/* NAVLINK ANIM */
.navlink-enter {
  opacity: 0;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.navlink-enter-active {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: opacity 400ms, -webkit-transform 400ms;
  transition: opacity 400ms, -webkit-transform 400ms;
  transition: opacity 400ms, transform 400ms;
  transition: opacity 400ms, transform 400ms, -webkit-transform 400ms;
}

.navlink-exit {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.navlink-exit-active {
  opacity: 0;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: opacity 400ms, -webkit-transform 400ms;
  transition: opacity 400ms, -webkit-transform 400ms;
  transition: opacity 400ms, transform 400ms;
  transition: opacity 400ms, transform 400ms, -webkit-transform 400ms;
}

/* PAGE ELEMENTS */
.page-container {
  padding-top: 4rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  min-height: 100vh;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  overflow-y: auto;
}

@media only screen and (max-width: 1023.75px) {
  .page-container {
    padding-top: 5rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.page {
  position: absolute;
  width: 100%;
  max-width: 1000px;
}

@media only screen and (max-width: 1023.75px) {
  .page {
    position: static;
    max-width: 100%;
  }
}

.page-enter {
  opacity: 0;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.page-enter-active {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: opacity 400ms, -webkit-transform 400ms;
  transition: opacity 400ms, -webkit-transform 400ms;
  transition: opacity 400ms, transform 400ms;
  transition: opacity 400ms, transform 400ms, -webkit-transform 400ms;
}

.page-exit {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.page-exit-active {
  opacity: 0;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: opacity 400ms, -webkit-transform 400ms;
  transition: opacity 400ms, -webkit-transform 400ms;
  transition: opacity 400ms, transform 400ms;
  transition: opacity 400ms, transform 400ms, -webkit-transform 400ms;
}

/* ROW */
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.projects-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 100%;
  height: calc(100vh - 9rem);
}

@media only screen and (max-width: 1023.75px) {
  .half {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 50%;
  }
}

@media only screen and (min-width: 1024px) {
  .half {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 500px;
  }
}

/* SECTIONS */
.section {
  padding: 1rem;
}

/* BADGES */
.badge {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  padding: .2rem .6rem;
  line-height: 1.2rem;
  margin: .25rem 0;
  font-size: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.45);
  border-radius: .4rem;
  background-color: rgba(0, 0, 0, 0.0075);
}

.badge:not(:last-of-type) {
  margin-right: .5rem;
}

/* BUTTONS */
button:focus {
  outline: none;
}

.button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  color: white;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: .9rem;
  text-transform: uppercase;
  min-width: 46%;
  margin: 2%;
  font-weight: 600;
  border-radius: .4rem;
}

.button {
  background-color: #444;
}

.button:hover {
  background-color: #000;
}

.button.disabled {
  background-color: #ddd;
}

/* PROJECT */
.project-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  padding: 1rem;
  max-width: 500px;
  display: block;
}

@media only screen and (max-width: 1023.75px) {
  .project-container {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .project {
    margin-bottom: 5rem;
  }
}

.project-container-enter {
  opacity: 0;
  -webkit-transform: translateY(200px);
          transform: translateY(200px);
}

.project-container-enter-active {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: opacity 300ms, -webkit-transform 300ms;
  transition: opacity 300ms, -webkit-transform 300ms;
  transition: opacity 300ms, transform 300ms;
  transition: opacity 300ms, transform 300ms, -webkit-transform 300ms;
}

.project-container-exit {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.project-container-exit-active {
  opacity: 0;
  -webkit-transform: translateY(-200px);
          transform: translateY(-200px);
  -webkit-transition: opacity 300ms, -webkit-transform 300ms;
  transition: opacity 300ms, -webkit-transform 300ms;
  transition: opacity 300ms, transform 300ms;
  transition: opacity 300ms, transform 300ms, -webkit-transform 300ms;
}

.project {
  display: static;
}

.project-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.project-header h2 {
  line-height: 2rem;
  padding: 2rem 0;
}

.project-index {
  line-height: 6rem;
  position: absolute;
  display: block;
  width: 100%;
  text-align: right;
  color: rgba(0, 0, 0, 0.03);
  margin-top: .25rem;
  margin-left: -2rem;
  font-size: 8rem;
  z-index: -100;
}

.project-body {
  min-height: 12rem;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.project-buttons-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 25rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  border-top: 2px solid transparent;
  -webkit-filter: drop-shadow(0px 0px 1rem rgba(0, 0, 0, 0));
          filter: drop-shadow(0px 0px 1rem rgba(0, 0, 0, 0));
}

@media only screen and (max-width: 1023.75px) {
  .project-buttons-container {
    position: fixed;
    margin-top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    z-index: 97;
    background-color: #f0f0f0;
    -webkit-transition: height .3s;
    transition: height .3s;
    z-index: 97;
    border-top: 2px solid #dfdfdf;
    -webkit-filter: drop-shadow(0px 0px 1rem rgba(0, 0, 0, 0.125));
            filter: drop-shadow(0px 0px 1rem rgba(0, 0, 0, 0.125));
  }
  .project-header h2 {
    line-height: 2rem;
    padding: 2rem 0;
  }
  .project-body {
    min-height: 0;
    margin-bottom: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .project-index {
    font-size: 3rem;
    line-height: 3rem;
  }
}
/*# sourceMappingURL=index.css.map */