@import '../styles/colors.scss';

.nav-link {
    font-family: 'Titillium Web';
    box-sizing: border-box;
    background-color: $dark;
    line-height: 4rem;
    color: white;
    text-transform: uppercase;
    text-align: center;
    
    font-size: 1.25rem;
    padding: 0 2rem;
    min-width: 12.5%;
    user-select: none;
    transition-duration: .3s;
}

.nav-link:not(.active):hover {
    background-color: darken($primary, 30%);
    cursor: pointer;
}

.nav-link.active {
    color: lighten($primary, 20%);
}