@import './colors.scss';

.page {
    box-sizing: border-box;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    color: white;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 2rem;
    padding-top: 4rem;
}

.page.active {
    animation-name: page-in;
    animation-delay: 1s;
    animation-duration: .5s;
}

.page:not(.active) {
    animation-name: page-out;
    animation-delay: .5s;
    animation-duration: .5s;
}

@keyframes page-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes page-out {
    from {
        opacity: 1.0;
    }
    to {
        opacity: 0.0;
    }
}