@import './colors.scss';
@import './variables.scss';

.page-container {
    font-family: 'Titillium Web';
    box-sizing: 'border-box';
    height: 100vh;
    background-color: transparent;
    display: flex;
    z-index: 0;
    max-width: 100%;
    margin: auto auto;
    justify-content: center;
}

.page-panel {
    box-sizing: border-box;
    width: calc(100%);
    overflow: hidden;
    max-width: $breakpoint;
}