.p {
  font-size: 1.2rem;
  line-height: 1.7rem;
  text-align: left;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  color: white;
  margin-bottom: 2rem;
  opacity: 0;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.p:last-of-type {
  margin-bottom: 0rem;
}

.p-in-0 {
  -webkit-animation-name: p-in;
          animation-name: p-in;
  -webkit-animation-duration: .3s;
          animation-duration: .3s;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.p-in-1 {
  -webkit-animation-name: p-in;
          animation-name: p-in;
  -webkit-animation-duration: .3s;
          animation-duration: .3s;
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.p-in-2 {
  -webkit-animation-name: p-in;
          animation-name: p-in;
  -webkit-animation-duration: .3s;
          animation-duration: .3s;
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes p-in {
  from {
    opacity: 0;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes p-in {
  from {
    opacity: 0;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.p-out-0 {
  -webkit-animation-name: p-out;
          animation-name: p-out;
  -webkit-animation-duration: .3s;
          animation-duration: .3s;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.p-out-1 {
  -webkit-animation-name: p-out;
          animation-name: p-out;
  -webkit-animation-duration: .3s;
          animation-duration: .3s;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.p-out-2 {
  -webkit-animation-name: p-out;
          animation-name: p-out;
  -webkit-animation-duration: .3s;
          animation-duration: .3s;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

@-webkit-keyframes p-out {
  from {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    opacity: 0;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@keyframes p-out {
  from {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    opacity: 0;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}
/*# sourceMappingURL=Paragraph.css.map */