@import './colors.scss';

.spider-container {
    width: 400px;
    min-height: 400px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    perspective: 60px;
    user-select: none;
    clip-path: circle(50% at 50% 50%);
    opacity: 0;
}

.spider {
    position: relative;
    width: 100%;
    font-size: 4rem;
    font-weight: bold;
    color: white;
    text-align: center;
    text-shadow:
    2px 0px 1px black,
    -2px 0px 1px $primary,
    0px 2px 1px black,
    0px -2px 1px $primary,
    0px 0px 5px black;
    transition-duration: .1s;
    user-select: none;
}

.spider-in-0 {
    animation-name: spider-in;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@keyframes spider-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.spider-out-0 {
    animation-name: spider-out;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-fill-mode: backwards;
}

@keyframes spider-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}