@import './colors.scss';
@import './variables.scss';

.h2 {
    position: relative;
    transform: translateY(14rem);
}

@media only screen and (max-width: $navigation-breakpoint) {
    .h2 {
        text-align: left;
        font-size: 8vw;
        line-height: 8.2vw;
        margin-bottom: 2rem;
    }
}

@media only screen and (min-width: $navigation-breakpoint + 1) {
    .h2 {
        text-align: left;
        font-size: 2rem;
        line-height: 2.2rem;
        margin-bottom: 2rem;
    }
}

@media only screen and (min-width: $breakpoint + 1) {
    .h2 {
        text-align: left;
        font-size: 2rem;
        line-height: 2.2rem;
        margin-bottom: 2rem;
    }
}

.h2-in-0 {
    animation-name: h2-in;
    animation-duration: .5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}
.h2-in-1 {
    animation-name: h2-in;
    animation-duration: .5s;
    animation-delay: 1.2s;
    animation-fill-mode: forwards;
}
.h2-in-2 {
    animation-name: h2-in;
    animation-duration: .5s;
    animation-delay: 1.4s;
    animation-fill-mode: forwards;
}

@keyframes h2-in {
    from {
        transform: translateY(-14rem);
    }
    to {
        transform: translateY(0rem);
    }
}

.h2-out-0 {
    animation-name: h2-out;
    animation-duration: .5s;
    animation-delay: 0s;
    animation-fill-mode: backwards;
}
.h2-out-1 {
    animation-name: h2-out;
    animation-duration: .5s;
    animation-delay: 0.2s;
    animation-fill-mode: backwards;
}
.h2-out-2 {
    animation-name: h2-out;
    animation-duration: .5s;
    animation-delay: 0.4s;
    animation-fill-mode: backwards;
}

@keyframes h2-out {
    from {
        transform: translateY(0rem);
    }
    to {
        transform: translateY(-14rem);
    }
}

.color-secondary {
    color: $secondary
}