@import './colors.scss';

.h2 {
    position: relative;
    font-size: 2.5rem;
    line-height: 2.5rem;
    text-align: left;
    transition-duration: .4s;
    color: white;
    transform: translateY(-7rem);
}

.h2-in-0 {
    animation-name: h2-in;
    animation-duration: .5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}
.h2-in-1 {
    animation-name: h2-in;
    animation-duration: .5s;
    animation-delay: 1.2s;
    animation-fill-mode: forwards;
}
.h2-in-2 {
    animation-name: h2-in;
    animation-duration: .5s;
    animation-delay: 1.4s;
    animation-fill-mode: forwards;
}

@keyframes h2-in {
    from {
        transform: translateY(-7rem);
    }
    to {
        transform: translateY(0rem);
    }
}

.h2-out-0 {
    animation-name: h2-out;
    animation-duration: .5s;
    animation-delay: 0s;
    animation-fill-mode: backwards;
}
.h2-out-1 {
    animation-name: h2-out;
    animation-duration: .5s;
    animation-delay: 0.2s;
    animation-fill-mode: backwards;
}
.h2-out-2 {
    animation-name: h2-out;
    animation-duration: .5s;
    animation-delay: 0.4s;
    animation-fill-mode: backwards;
}

@keyframes h2-out {
    from {
        transform: translateY(0rem);
    }
    to {
        transform: translateY(-7rem);
    }
}

.color-secondary {
    color: $secondary
}