@import "variables.scss";

* {
    padding: 0;
    margin: 0;
}

body {
    min-height: 150vh;
    font-size: $font-size;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7rem;
    background-color: $light;
    color: $text;
}

h1 {
    line-height: 2rem;
    font-size: 2rem;
    padding: 2rem 0;
}

h2 {
    line-height: 1.75rem;
    font-size: 1.75rem;
    padding: 2rem 0;
}

header {
    font-family: 'IBM Plex Sans', sans-serif;
}

.container {
    box-sizing: border-box;
    max-width: $breakpoint;
    margin: auto auto;
}

.mb {
    margin-bottom: 2rem;
}

p:not(:last-of-type) {
    margin-bottom: 1rem;
}

.light {
    color: $light-text;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.col-6 {
    box-sizing: border-box;
    width: 50%;
}

.col-8 {
    box-sizing: border-box;
    width: 66.666%
}

.col-10 {
    box-sizing: border-box;
    width: 83.333%
}

.section {
    box-sizing: border-box;
    padding: 1rem;
}

.badge {
    box-sizing: border-box;
    display: inline-block;
    line-height: 1.2rem;
    margin: .25rem 0;
    font-size: .9rem;
    padding: .2rem .6rem;
    border: 1px solid black;
    border-radius: .3rem;
}

.page {
    width: 100%;
    min-height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.portfolio-card {
    display: flex;
    flex-direction: column;
}

.portfolio-header {
    min-height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.portfolio-body {
    min-height: 14rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.portfolio-footer {
    min-height: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}