/* COLOR PALLETE */
/* TEXT COLORS */
.navigation {
  box-sizing: border-box;
  width: 100%;
  position: fixed;
  padding: 2rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'IBM Plex Sans', sans-serif; }
  .navigation a {
    box-sizing: border-box;
    display: block;
    padding: .33rem 1.5rem;
    line-height: 2rem;
    text-decoration: none;
    background-color: transparent;
    color: #34384b;
    border-bottom: 2px solid transparent; }
  .navigation a.active {
    color: #eee;
    background-color: #666;
    border-bottom: 2px solid #666; }
  .navigation a:not(.active):hover {
    background-color: #34384b;
    color: white; }

[hidden] {
  display: none; }
