@import "variables.scss";

.navigation {
    box-sizing: border-box;
    width: 100%;
    position: fixed;
    padding: 2rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'IBM Plex Sans', sans-serif;

    a {
        box-sizing: border-box;
        display: block;
        padding: .33rem 1.5rem;
        line-height: 2rem;
        text-decoration: none;
        background-color: transparent;
        color: $link;
        border-bottom: 2px solid transparent;
    }

    a.active {
        color: $light;
        background-color: $light-text;
        border-bottom: 2px solid $light-text;
    }

    a:not(.active):hover {
        background-color: $link;
        color: white;
    }
}
 
[hidden] { display: none; }