* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(240,240,240);
    color: rgb(40,40,40);
    overflow: hidden;
    overflow-y: auto;
}

/* COLORS */
.light {
    color: rgb(140,140,140);
}

/* TYPOGRAPHY */
body {
    font-size: 1.2rem;
    line-height: 1.7rem;
    font-family: 'IBM Plex Sans', sans-serif;
}
h1, h2, h3, h4 {
    font-family: 'IBM Plex Sans', sans-serif;
}
h1 {
    margin-bottom: 2rem;
}
.text-center {
    text-align: center;
}

/* MARGINS AND PADDINGS */
.mb-05 {
    margin-bottom: .5rem;
}
.mb-1 {
    margin-bottom: 1rem;
}
.mb-2 {
    margin-bottom: 2rem;
}
.px-2 {
    padding-left: 2rem;
    padding-right: 2rem;
}
.py-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* NAVIGATION */
.navigation,
.navigation-mobile {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    min-height: 4rem;
    background-color: transparent;
}
.navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 4rem;
}
.navigation-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    z-index: 99;
}
.navigation a,
.navigation-mobile a {
    box-sizing: border-box;
    display: inline-block;
    color: rgb(80,80,80);
    min-width: 8rem;
    border: 1px solid transparent;
    line-height: 1.7rem;
    text-align: center;
    text-decoration: none;
}
.navigation-mobile a {
    font-size: 1.5rem;
    line-height: 4rem;
}
.navigation a:hover,
.navigation-mobile a:hover {
    color: rgb(0,0,0);
    text-decoration: underline;
}
.menu-button {
    box-sizing: border-box;
    position: fixed;
    top: 0rem;
    left: 0rem;
    width: 4rem;
    height: 4rem;
    z-index: 100;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-button .burger,
.menu-button .burger::before,
.menu-button .burger::after {
    width: 2.5rem;
    height: .275rem;
    background: #aaa;
    border-radius: .1rem;
    transition: all .2s ease-in-out;
}
.menu-button .burger::before,
.menu-button .burger::after {
    content: '';
    position: absolute;
}
.menu-button .burger::before {
    transform: translateY(-.8rem);
}
.menu-button .burger::after {
    transform: translateY(.8rem);
}
.menu-button.active .burger {
    transform: translateX(-3rem);
    background: transparent;
}
.menu-button.active .burger::before {
    transform: rotate(45deg) translate(2.1rem, -2.1rem);
    background: #333;
}
.menu-button.active .burger::after {
    transform: rotate(-45deg) translate(2.1rem, 2.1rem);
    background: #333;
}
.navbar {
    box-sizing: border-box;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 4rem;
    background-color: rgba(240,240,240);
    transition: height .3s;
    z-index: 98;
    border-bottom: 2px solid #dfdfdf;
    filter: drop-shadow(0px 0px 1rem rgba(0,0,0,0.125));
}
.navbar.active {
    height: 100vh;
    filter: drop-shadow(0px 0px 1rem rgba(0,0,0,0.1));
    border-bottom: 1px solid transparent;
}
/* NAVLINK ANIM */
.navlink-enter {
    opacity: 0;
    transform: scale(1.3);
  }
  .navlink-enter-active {
    opacity: 1;
    transform: scale(1.0);
    transition: opacity 400ms, transform 400ms;
  }
  .navlink-exit {
    opacity: 1;
    transform: scale(1.0);
  }
  .navlink-exit-active {
    opacity: 0;
    transform: scale(.9);
    transition: opacity 400ms, transform 400ms;
  }

/* PAGE ELEMENTS */
.page-container {
    padding-top: 0;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    overflow-y: auto;
}
@media only screen and (max-width: 1023.75px) {
    .page-container {
        padding-top: 5rem;
        box-sizing: border-box;
        position: static;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
}
.page {
    position: absolute;
    width: 100%;
    max-width: 100%;
}
@media only screen and (min-width: 1024px) {
    .page {
        position: absolute;
        max-width: 1000px;
    }
}
.page-enter {
  opacity: 0;
  transform: scale(1.1);
}
.page-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 400ms, transform 400ms;
}
.page-exit {
  opacity: 1;
  transform: scale(1);
}
.page-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 400ms, transform 400ms;
}

/* ROW */
.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.projects-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 10rem);
}
@media only screen and (max-width: 1023.75px) {
    .half {
        box-sizing: border-box;
        width: 50%;
    }
}
@media only screen and (min-width: 1024px) {
    .half {
        box-sizing: border-box;
        width: 500px;
    }
}

/* SECTIONS */
.section {
    padding: 1rem;
}

/* BADGES */
.badge {
    box-sizing: border-box;
    display: inline-block;
    padding: .2rem .6rem;
    line-height: 1.2rem;
    margin: .25rem 0;
    font-size: 1rem;
    border: 1px solid rgba(0,0,0,0.45);
    border-radius: .4rem;
    background-color: rgba(0,0,0,0.0075)
}
.badge:not(:last-of-type) {
    margin-right: .5rem;
}

/* BUTTONS */
button:focus { outline: none; }
.button {
    box-sizing: border-box;
    border: none;
    color: white;
    padding: .75rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: .9rem;
    text-transform: uppercase;
    min-width: 46%;
    margin: 2%;
    font-weight: 600;
    border-radius: .4rem;
}
.button {
    background-color: #444;   
}
.button:hover {
    background-color: #000;
}
.button.disabled {
    background-color: #ddd;
}

/* PROJECT */
.project-container {
    position: absolute;
    padding: 1rem;
    max-width: 100%;
}
.project-container-enter {
    opacity: 0;
    transform: translateY(200px);
}
.project-container-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 300ms, transform 300ms;
}
.project-container-exit {
    opacity: 1;
    transform: translateY(0px);
}
.project-container-exit-active {
    opacity: 0;
    transform: translateY(-200px);
    transition: opacity 300ms, transform 300ms;
}
.project-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.project-header h2 {
    line-height: 2rem;
    padding: 2rem 0;
}
.project-index {
    line-height: 6rem;
    position: absolute;
    display: block;
    width: 100%;
    text-align: right;
    color:  rgba(0,0,0,0.03);
    margin-top: .25rem;
    margin-left: -2rem;
    font-size: 8rem;
    z-index: -100;
}
.project-body {
    min-height: 12rem;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.project-buttons-container {
    box-sizing: border-box;
    position: relative;
    margin-top: 25rem;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    background-color: transparent;
    border-top: 2px solid transparent;
    filter: drop-shadow(0px 0px 1rem rgba(0,0,0,0));
}
@media only screen and (max-width: 1023.75px) {
    .project-buttons-container {
        position: absolute;
        margin-top: 0;
        bottom: -5rem;
        left: 0;
        width: 100%;
        height: 4rem;
        z-index: 97;
    }
    .project-header h2 {
        line-height: 2rem;
        padding: 2rem 0;
    }
    .project-body {
        min-height: 0;
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

}