* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(240,240,240);
    color: rgb(40,40,40);
}

.root {
    overflow: hidden;
}

/* COLORS */
.light {
    color: rgb(140,140,140);
}

/* TYPOGRAPHY */
body {
    font-size: 1.2rem;
    line-height: 1.7rem;
    font-family: 'IBM Plex Sans', sans-serif;
}
h1, h2, h3, h4 {
    font-family: 'IBM Plex Sans', sans-serif;
}
h1 {
    margin-bottom: 2rem;
}

/* MARGINS AND PADDINGS */
.mb-05 {
    margin-bottom: .5rem;
}
.mb-1 {
    margin-bottom: 1rem;
}
.mb-2 {
    margin-bottom: 2rem;
}
.px-2 {
    padding-left: 2rem;
    padding-right: 2rem;
}
.py-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* NAVIGATION */
.navigation {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.navigation a {
    box-sizing: border-box;
    display: inline-block;
    color: rgb(80,80,80);
    min-width: 5rem;
    border: 1px solid transparent;
    line-height: 1.7rem;
}
.navigation a:hover {
    box-sizing: border-box;
    display: inline-block;
    color: rgb(0,0,0);
    min-width: 5rem;
    line-height: 2.5rem;
    border: 1px solid transparent;
}

/* PAGE ELEMENTS */
.page-container {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow-x: hidden;
    overflow-y: scroll;
}
@media only screen and (max-width: 1023.75px) {
    .page-container {
        position: static;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
}
.page {
    position: absolute;
    width: 100%;
    max-width: 100%;
}
@media only screen and (min-width: 1024px) {
    .page {
        position: absolute;
        max-width: 1000px;
    }
}
.page-enter {
  opacity: 0;
  transform: scale(1.1);
}
.page-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}
.page-exit {
  opacity: 1;
  transform: scale(1);
}
.page-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

/* ROW */
.row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}
@media only screen and (max-width: 1023.75px) {
    .half {
        box-sizing: border-box;
        width: 50%;
    }
}
@media only screen and (min-width: 1024px) {
    .half {
        box-sizing: border-box;
        width: 500px;
    }
}

/* SECTIONS */
.section {
    padding: 1rem;
}

/* BADGES */
.badge {
    box-sizing: border-box;
    display: inline-block;
    padding: .2rem .6rem;
    line-height: 1.2rem;
    margin: .25rem 0;
    font-size: 1rem;
    border: 1px solid rgba(0,0,0,0.45);
    border-radius: .4rem;
    background-color: rgba(0,0,0,0.0075)
}
.badge:not(:last-of-type) {
    margin-right: .5rem;
}

/* BUTTONS */
button:focus { outline: none; }
.button {
    box-sizing: border-box;
    border: none;
    color: white;
    padding: .75rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: .9rem;
    text-transform: uppercase;
    min-width: 46%;
    margin: 2%;
    font-weight: 600;
    border-radius: .4rem;
}
.button {
    background-color: #444;   
}
.button:hover {
    background-color: #000;
}
.button.disabled {
    background-color: #ddd;
}

/* PROJECT */
.project-container {
    position: absolute;
    padding: 1rem;
}
.project-container-enter {
    opacity: 0;
    transform: translateY(200px);
}
.project-container-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 200ms, transform 200ms;
}
.project-container-exit {
    opacity: 1;
    transform: translateY(0px);
}
.project-container-exit-active {
    opacity: 0;
    transform: translateY(-200px);
    transition: opacity 200ms, transform 200ms;
}
.project-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.project-header h2 {
    line-height: 6rem;
}
.project-index {
    line-height: 6rem;
    position: absolute;
    display: block;
    width: 100%;
    text-align: right;
    color:  rgba(0,0,0,0.03);
    margin-top: .25rem;
    font-size: 8rem;
    z-index: -100;
}
.project-body {
    min-height: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.project-buttons-container {
    position: relative;
    margin-top: 27rem;
}